# Archivos de entorno
.env

# Bases de datos locales
*.db
*.sqlite
goland.db

# Binarios compilados
/goland-server
*.exe
/server
/mcp-mongo
/ingest

# Dependencias (si usaras Node en el frontend)
node_modules/

# Logs de trazabilidad
*.log

# Carpetas temporales de documentación de Go
tmp_go_docs/
_tmp_go_docs/
