# Archivos de entorno
.env

# Bases de datos locales
*.db
*.sqlite
goland.db

# Binarios compilados
goland-server
*.exe
server
mcp-mongo
ingest

# Dependencias (si usaras Node en el frontend)
node_modules/

# Logs de trazabilidad
*.log

